 <ul class="list">

   <!-- this is for toggle on if email is selcted -->
   <ion-item ng-show="email.enabled == true">
     <ion-item>
         <ion-input><input placeholder="To:" type="email" ng-model="postData.to"></ion-input>
     </ion-item>
     <ion-item>
         <ion-input ><input placeholder="Subject:" type="text" ng-model="postData.subject"></ion-input>
     </ion-item>
   </ion-item>

   <li class="item item-toggle item-icon-left">
     Email
     <i class="icon ion-email"></i>
       <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="email.enabled" ng-init="email.enabled = false">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
   </li>

   <li class="item item-toggle item-icon-left" ng-hide="facebookToken === '' || facebookToken === null">
     Facebook
     <i class="icon ion-social-facebook"></i>
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="postList[0]" ng-true-value="'facebook'">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
   </li>

    <li class="item item-toggle item-icon-left" ng-hide="twitterToken === '' || twitterToken === null || dropboxToken === '' || dropboxToken === null">
      Twitter
      <i class="icon ion-social-twitter"></i>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="postList[1]" ng-true-value="'twitter'">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </li>

  </ul>
