 <ul class="list">
   <ion-item ng-show="email.enabled == true">
     <ion-item>
         <ion-input><input placeholder="To:" type="text"></ion-input>
     </ion-item>
     <ion-item>
         <ion-input ><input placeholder="Subject:" type="text"></ion-input>
     </ion-item>
   </ion-item>

   <li class="item item-toggle item-icon-left">
     Email
     <i class="icon ion-email"></i>
       <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="email.enabled" ng-init="email.enabled = false">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
   </li>
      <li class="item item-toggle item-icon-left" ng-hide="facebookToken === '' || facebookToken === null">
        Facebook
        <i class="icon ion-social-facebook"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        Twitter <p>{{twitterToken.screen_name}}</p>
        <i class="icon ion-social-twitter"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <!-- this is for toggle on if email is selcted -->


      </li>
    </ul>
