<ion-view view-title="Post">
  <ion-content padding="true">
    <form>
      <!-- <label class="item item-input">
          <input type="email" placeholder="Recipient (To)" ng-model="postData.to">
      </label>
      <label class="item item-input">
          <input type="text" placeholder="Subject" ng-model="postData.subject">
      </label> -->
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="postData.title">
      </label>
      <label class="item item-input post-textBox">
          <textarea type="text" rows="10" cols="5" placeholder="Review" ng-model="postData.body"></textarea>
      </label>
      <div class="padding" align="center">
        <rating ng-model="rating.rate" max="rating.max"></rating>
      </div>
      <div class="col">Files Attached: {{noOfAttachments}}</div>
      <div class="button-bar padding-top">

        <a class="button button-positive" ng-click="attachImg()">Attach Image</a>
      </div>
      <div id="buttonBar"class="button-bar padding-top">
        <a id="button1" class="button button-positive" ng-click="record()">Speech to Text</a>
        <a id="button1" class="button button-positive" ng-click="speakText()">Text to Speech</a>
      </div>
    <button id="button1" class="button button-block button-positive" ng-click="showPopUp()">Post</button>
      <button class="button button-block button-positive" ng-click="paste()">Paste Data</button>
      <button class="button button-block button-positive" ng-click="saveAsDraft()">Save As Draft</button>

      <div id="buttonRange" class="item range buttonRange">
              <i class="icon ion-minus" ></i>
                <input type="range" name="volume" ng-model="value" min="50" max="100" value="33" ng-model="test"  on-release="changeButtonHeight(value);">
              <i class="icon ion-plus"></i>
      </div>

    </form>
  </ion-content>
</ion-view>
