<ion-view view-title="Post">
  <ion-content padding="true">
    <form>
      <!-- <label class="item item-input">
          <input type="email" placeholder="Recipient (To)" ng-model="postData.to">
      </label>
      <label class="item item-input">
          <input type="text" placeholder="Subject" ng-model="postData.subject">
      </label> -->
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="postData.title">
      </label>
      <label class="item item-input post-textBox">
          <textarea type="text" rows="10" cols="5" placeholder="Review" ng-model="postData.body"></textarea>
      </label>
      <div class="col">Files Attached: {{noOfAttachments}}</div>
      <div class="button-bar padding-top">

        <a class="button button-positive" ng-click="attachImg()">Attach Image</a>
      </div>
      <div class="button-bar padding-top">
        <a class="button button-positive" ng-click="record()">Speech to Text</a>
        <a class="button button-positive" ng-click="speakText()">Text to Speech</a>
      </div>
      <button class="button button-block button-positive" ng-click="showPopUp()">Post</button>
      <button class="button button-block button-positive" ng-click="paste()">Paste Data</button>
      
      <button class="button button-block button-positive" ng-click="saveAsDraft()">Save As Draft</button>
    </form>
  </ion-content>
</ion-view>
