<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">
      <div class="item item-divider">
        Post To:
      </div>
      <li class="item item-toggle item-icon-left">
        Facebook
        <i class="icon ion-social-facebook"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        Twitter
        <i class="icon ion-social-twitter"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        Email
        <i class="icon ion-email"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        Google+
        <i class="icon ion-social-googleplus"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <div class="item item-divider">
        Enable:
      </div>
      <li class="item item-toggle item-icon-left">
        Text to Speech
        <i class="icon ion-speakerphone"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        Speech to Text
        <i class="icon ion-mic-a"></i>
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
