<ion-view view-title="Set-Up">
  <ion-content>
    <ul class="list">
      <div class="item item-divider padding">
        Login to enable posting to that social media:
      </div>
      <li class="item item-button-right item-icon-left">
        Facebook
        <i class="icon ion-social-facebook"></i>
        <button class="button button-positive">Login</button>
      </li>
      <li class="item item-button-right item-icon-left">
        Twitter
        <i class="icon ion-social-twitter"></i>
        <button class="button button-positive">Login</button>
      </li>
      <li class="item item-button-right item-icon-left">
        Google+
        <i class="icon ion-social-googleplus"></i>
        <button class="button button-positive">Login</button>
      </li>
  </ion-content>
</ion-view>
