<ion-view view-title="Settings">
  <ion-content>

   <!-- <label class="item item-input item-select">
      <div class="input-label">
          Select your theme:
      </div>
      <select>
          <option selected>Default</option>
          <option >green</option>
          <option>red</option>
          <option >yellow</option>
      </select>
  </label> -->
    <ul class="list">
      <div class="item item-divider">
        Themes:
      </div>
      <label class="item item-input item-select item-icon-left">
          <div class="input-label">
            Colours:
          </div>
          <select ng-model="optionSelected" ng-change="selectUpdated(optionSelected)">
              <option value="default" selected>Default</option>
              <option value="yellow">Light Green and Yellow</option>
              <option value="green">Green and Red</option>
              <option value="red">Grey and Blue</option>
          </select>
        </label>
        <div class="item item-divider">
          Assitive Help
        </div>
        <!-- <li class="item item-toggle item-icon-left">
          BIG BUTTONS
          <i class="icon ion-edit"></i>
            <label class="toggle toggle-dark">
              <input type="checkbox" ng-model="trueFalseBigButtons" ng-change="checkBigButtons(trueFalseBigButtons);">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
        </li> -->
        <li class="item item-toggle item-icon-left">
          BOLD FONT
          <i class="icon ion-edit"></i>
            <label class="toggle toggle-light">
              <input type="checkbox" ng-model="trueFalseBoldFont" ng-change="checkBoldFont(trueFalseBoldFont);">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
        </li>

      <!---
      <li class="item item-toggle item-icon-left">
        YELLOW
        <i class="icon ion-edit"></i>
          <label class="toggle toggle-energized">
            <input type="checkbox" ng-model="trueFalseYellow" ng-change="checkYellow(trueFalseYellow);">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li>
      <li class="item item-toggle item-icon-left">
        BIG BUTTONS
        <i class="icon ion-edit"></i>
          <label class="toggle toggle-dark">
            <input type="checkbox" ng-model="trueFalseBigButtons" ng-change="checkBigButtons(trueFalseBigButtons);">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </li> -->
    </ul>
  </ion-content>
</ion-view>
