<ion-view view-title="welcomePage">
 
   
   
  <ion-slide-box>
 
    <ion-slide>
 
        <img style="width: 100%" src="img/set-up.png">
        <h1>Step 1</h1>
        
        <p> First navigate to the set up page so you can log to your different social media account you wish to post your reviews too.</p>
    </ion-slide>
    <ion-slide>
        <img style="width: 100%" src="img/settings-enablle.png">
     <h1>Step 2</h1>
     <p> Once you are logged on go the settings page and enable the social media you wish to post too.</p>
    </ion-slide>
    <ion-slide>
   
        <img style="width: 100%" src="img/final-step.png">
       <h1>Step 3</h1>
       <p>You are Ready to start posting your reviews, Take advantage of all our features such as Speech to Text and our translate feature we have much much more !!!</p>
    </ion-slide>
</ion-slide-box>
 
</ion-view>
