/*
#buttonBar{

  font-size: 30px;
  white-space: normal;
}

#button1{
white-space: normal;
}

#button2{
  white-space: normal;
}
#button{
  height: 10px;
  font-weight: bold;
  font-size: 30px;

  font: white;
  white-space: normal;
}*/

/*.button{
      font-size: 30px;
      white-space: normal;
}*/

#buttonRange{
  visibility: visible;
}
