.bar.bar-positive{
  background-color: #33cd5f;
  color:#ef473a;
}

.textarea{
  background-color: #33cd5f;
  color: #ef473a;
}

/*background colour chaner*/
/*.overflow-scroll > .scroll{
  background-color: #33cd5f ;
  color: white;
}*/

.buttonRange{
  visibility:hidden;
}

.button.button-positive {
    border-color: transparent;
    background-color:  #33cd5f;
    color: #ef473a;
}

.button {
    border-color: transparent;
    background-color:  #33cd5f;
    color: #ef473a;
}

#postSectionTabs{
  background-color: #33cd5f;
  color: #ef473a;
}

.bar.bar-positive .title {
    color: red;
}
