

.bar.bar-positive{
  background-color: #ef473a;
}

.textarea{
  background-color: #ef473a;
}

/*background colour chaner*/
/*.overflow-scroll > .scroll{
  background-color: #ef473a ;
  color: white;
}*/

.buttonRange{
  visibility:hidden;
}

.button.button-positive {
    border-color: transparent;
    background-color:  #ef473a;
    color: #fff;
}

.button {
    border-color: transparent;
    background-color:  #ef473a;
    color: #fff;
}
