
  .bar.bar-positive{
    background-color: grey;
    color: blue;
  }

  .textarea{
    background-color: grey;
    color: blue;
  }

  /*background colour chaner*/
  /*.overflow-scroll > .scroll{
    background-color: #33cd5f ;
    color: white;
  }*/

  .buttonRange{
    visibility:hidden;
  }

  .button.button-positive {
      border-color: transparent;
      background-color:  grey;
      color: blue;
  }

  .button {
      border-color: transparent;
      background-color:  grey;
      color: blue;
  }

  #postSectionTabs{
    background-color: grey;
    color: blue;
  }

  .bar.bar-positive .title {
      color: blue;
  }
