.bar.bar-positive{
  background-color: #7DF06E;
}

.textarea{
  background-color: #7DF06E;
}

/*background colour chaner*/
/*.overflow-scroll > .scroll{
  background-color: #ef473a ;
  color: white;
}*/

.buttonRange{
  visibility:hidden;
}

.button.button-positive {
    border-color: transparent;
    background-color:  #7DF06E;
    color: yellow;
}

.button {
    border-color: transparent;
    background-color:  #7DF06E;
    color: yellow;
}



#postSectionTabs{
  background-color: #7DF06E;
  color: yellow;
}
.bar.bar-positive .title {
    color: yellow;
}
